*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./images/Others/pokemon1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.rules{
    color:rgb(199, 177, 177);
    font-size: 20px;
    width: 800px;
    height:500px; 
    border-radius: 5px;
    border: solid 10px white;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    position: relative;
}
.rules h1{
    text-align: center;
    font-size: 50px;

}
.rules-list{
    top: 0%;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
}
.rules-list ul{
    text-align: left;
    width: 400px;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-direction:column ;
    gap: 12px;
    font-size: 17px;
}
.start{
    /* transform: translateX(0%); */
   transform: translateY(-160%);
   display: flex;
   align-content: center;
   justify-content: center;
}
#username{
font-size: 20px;
color: rgb(9, 17, 35);
/* border-radius: 7px; */
border: none;
outline: none;

}
#start-btn{
    padding: 2px;
    background-color: #ffa8a8;
    font-size: 20px;
    /* border-radius: 7px; */
    outline: none;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game h1 {
    font-size: 60px;
    margin-left: 40px;
    font-family: cursive;
    background: linear-gradient(to bottom, red, rgb(255, 207, 14));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.quiz-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

#pokemon-img {
    width: 475px;
    height: 475px;
    margin-right: 150px;
}

.options {
    display: flex;
    flex-direction: column;
}

#option-1, #option-2, #option-3, #option-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #1603c6;
    border-radius: 30px;
    width: 280px;
    margin: 10px;
    cursor: pointer;
}

#option-1:hover, #option-2:hover, #option-3:hover, #option-4:hover {
    background-color: #e0e0e0;
}

.option-circle h2 {
    margin: 5px;
    padding: 10px;
    border: 1px solid #1603c6;
    color: #1603c6;
    border-radius: 50%;
}

.options h3 {
    margin-left: 60px;
    font-size: 20px;
    font-family: monospace;
    color: #1603c6;
}

.base-circle {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 0.1px solid rgb(255, 0, 0);
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-semi-circle {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    left: 0;
    z-index: 0;
}

.second-semi-circle {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    right: 0;
    z-index: 2;
    transform-origin: left center;
}

.third-semi-circle {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    right: 0;
    z-index: 3;
    transform-origin: left center;
}

.top-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 4;
}

.time-left-text {
    position: absolute;
    color: #e50707;
    z-index: 5;
}

.time-left-text h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#next-btn {
    display: none;
    padding: 15px;
    border: none;
    color: #fff;
    background-color: #1603c6;
    font-size: 20px;
    cursor: pointer;
}

#next-btn:hover {
    background-color: #0e008a;
}